#tabla{
	text-align: center;
	border-style: dashed;
}
#tabla tr:nth-child(even) td:nth-child(odd)
{
   background-color: red;
  background: rgba(0,0,0,.4);
}
body{
	text-align: center;
}
input[type="submit"]:hover
{
background-color: skyblue;
    border: thin solid transparent;
    border-radius: .10em;
    /*color:;*/
    cursor: pointer;
    font-size: 1em;
    padding: .10em;
    width: 30%;
    padding: 20px 20px;
}